<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InkblotTwitterbot2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <InkblotTwitterbot2.My.MySettings>
      <setting name="ConsumerKey" serializeAs="String">
        <value>70XbaKhNrtVoEo5MI5EKPRCUh</value>
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value>H43l5PZNOdtV4HxsW3NTZp93OQy2EjcfMurkrbr0cpf5O8n9db</value>
      </setting>
      <setting name="OAuthToken" serializeAs="String">
        <value>1187014332518789120-gw0vni9MTIYEWwEsxJOe801YQvpCdY</value>
      </setting>
      <setting name="OAuthTokenSecret" serializeAs="String">
        <value>JDDiwywchjqdzglcHz2HDHbRsH7s9VQZkpRECzOrMepWP</value>
      </setting>
      <setting name="ImageDirectory" serializeAs="String">
        <value>C:\\Users\\Daryl\\Pictures\\inkblotpics\\</value>
      </setting>
    </InkblotTwitterbot2.My.MySettings>
  </userSettings>
</configuration>